* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: rgba(29, 29, 31, 0.8);
  background: #fff;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  color: #000000;
  font-weight: 600;
}
